{% extends 'users/userbase.html'%}
{%block contents%}<br><br>

 <section id="intro">
    <div class="intro-text container">
        <p><h3 align="center" style="color:deeppink">Diet Recommend Based on Disease</h3></p>
        <center>
        <form  method="POST" class="text-primary" style="width:100%">
            {% csrf_token %}
            <select class="form-select" name="disease" aria-label="Default select example">
                <option selected>Select Disease</option>
                <option value="Anemia">Anemia</option>
                <option value="Osteoporosis">Osteoporosis</option>
                <option value="Goiter">Goiter</option>
                <option value="Diabetes">Diabetes</option>
                <option value="BloodPressure">Blood Pressure</option>
                <option value="NightBlindness">Night Blindness</option>
            </select><br><br>
            <button type="submit" class="btn btn-primary">Submit</button>


            {% if messages %}
            {% for message in messages %}
            <font color='GREEN'> {{ message }}</font>
            {% endfor %}
            {% endif %}
        </form>
        <ul style="margin-top: 100px;">
        {% for food_item in food_items %}
            <li>{{food_item}}</li>
        {% endfor %}

        </ul>
        </center>
  </section>
{%endblock%}